@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

/* Default Setting */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
.clear:before, .clear:after {
    content: '';
    clear: both;
    display: block;
}


input, textarea, select, button {
    font: 400 1em 'Roboto';
}

input:focus,
textarea:focus,
button:focus,
a:focus {
outline: none; }

a {
    transition: all 0.2s ease-in-out;
}

/* End Default Setting */
body {
    font-family: 'Roboto', 'Microsoft JhengHei', sans-serif;
    color: #000;
    background: #F2F2F2;
    margin: 0;
    font-size: 100%;
    line-height: 1.6;
}

button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    background-color: transparent;
    font-size: 1em;
}
button:disabled {
    cursor: default;
}

/*------------------------------------------------------------------------*/


.cs_green {
    color: #7ED321;
}
.cs_red {
    color: #D0021B;
}


/*------------------------------------------------------------------------*/

header {
    background-color: #000;
}
header .navbar {
    padding-top: 0;
    padding-bottom: 0;
}
header a {
    color: #fff;
    text-transform:uppercase;
}
header a.navbar-brand {
    text-transform: none;
}

header a.setad {
    padding-left: 0;
    padding-right: 0;
}


header .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}
header .nav-link:before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
}
header .nav-link:hover,
header .nav-link.active {
    color: #fff;
}
header .nav-link:hover:before,
header .nav-link.active:before {
    background-color: #fff;
}


main {
    background-color: #F2F2F2;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

main .tit_01 {
    text-transform:uppercase;
    font-weight: 700;
}

main .titwp,
main .wgray {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}

main .wgray,
main .wgray .dropdown > button span {
    color: #9B9B9B;
}
main .wgray > span {
    margin-right: 1rem;
}
main .wgray i {
    color: #000;
    margin-right: .5rem;
    margin-left: .5rem;
}
main .titwp .dropdown > button {
    padding: 0;
}
main .titwp .dropdown-menu {
    padding: 0;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0 #9B9B9B;
    min-width: 8rem;
}
main .titwp .dropdown-menu .dropdown-item {
    text-align: center;
}
main .titwp .dropdown-menu .dropdown-item:hover {
    color: #fff;
    background-color: #000;
}


main .over_num,
main .mainbox_01 {
    background-color: #fff;
    box-shadow: 0 0 10px 5px #EBEBEB;
    border-radius: 3px;
    margin-top: 1rem;
    padding: 1rem;
} 
main .over_num {
    text-align: center;
}
main .over_num p {
    margin: 0;
    color: #7ED321;
    font-weight: bold;
    font-size: 2em;
}
main .over_num p.red {
    color: #D0021B;
}
main .over_num p.blue {
    color: #4A90E2;
}
main .over_num h5 > span {
    text-transform:uppercase;
    font-weight: bold;
}
main .over_num h5 i {
    margin-right: .5rem;
}


main .mainbox_01 h4 {
    font-weight: bold;
    margin-bottom: 1.5rem;
}



#chartdiv_001 {
	width	: 100%;
	height	: 500px;
}


.dashboard_info_001 ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.dashboard_info_001 ul + ul {
    border-top: 1px solid #EBEBEB;
    padding-top: 1rem;
    margin-top: 1rem;
}
.dashboard_info_001 ul li .mi {
    min-width: 50px;
}
.dashboard_info_001 ul li:first-child i {
    font-size: 2em;
    margin-right: .5em;
}
.dashboard_info_001 ul li .gray {
    color: #9B9B9B;
}
.dashboard_info_001 ul li span {
    display: inline-block;
}
.dashboard_info_001 ul li:last-child span + span {
    margin-left: 2rem;
}
.dashboard_info_001 ul li:first-child i,
.dashboard_info_001 ul li span {
    vertical-align: middle;
}
.dashboard_info_001 ul li .t-lg {
    font-size: 1.2em;
}
.dashboard_info_001 ul li:last-child {
    text-align: right;
}
.dashboard_info_001 ul li:last-child i {
    margin-right: .25rem;
}


.tooltip-inner.custom_001 p {
    margin-bottom: 0;
    text-align: center;
}
.tooltip-inner.custom_001 p:first-child {
    text-transform: uppercase;
    font-size: .9em;
}
.tooltip-inner.custom_001 p:first-child span {
    font-size: 1rem;
    font-weight: bold;
}
.tooltip-inner.custom_001 p:last-child {
    color: #9B9B9B;
    font-size: .8em;
    font-style: italic;
}
.tooltip-inner.custom_001 {
    max-width:300px;
    padding: 1rem;
}






.orderbox {
    display: flex;
    flex-wrap: wrap;
}
.orderbox + .orderbox  {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #EBEBEB;
}
.orderbox ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.orderbox ul li {
    color: #9B9B9B;
}
.orderbox ul li span {
    display: inline-block;
    min-width: 24px;
    text-align: center;
}
.orderbox > p,
.orderbox > div {
    width: 100%;
}
.orderbox > div h5 {
    font-weight: bold;
}
.orderbox > img {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.orderbox > p {
    text-align: right;
    font-size: .8em;
    margin-bottom: 0;
}
.orderbox > p span {
    font-size: 1.8em;
    font-weight: bold;
    margin-left: .5rem;
}














@media (min-width: 576px) {

    .dashboard_info_001 ul {
        display: flex;
        justify-content:space-between;
        align-items: center; 
    }
    .dashboard_info_001 ul li .mi {
        min-width: 60px;
    }

    .orderbox {
        flex-wrap: nowrap;
        justify-content:flex-start;
        align-items:flex-end;
    }
    .orderbox > p,
    .orderbox > div {
        width: auto;
    }
    .orderbox > img {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 1rem;
    }
    .orderbox > p {
        margin-left: auto;
    }
    .orderbox > p span {
        display: block;
    }

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    header a.setad {
        padding-left: .5rem;
        padding-right: .5rem;
    }
    header .nav-link:before {
        height: 4px;
    }
    .dashboard_info_001 ul li:first-child i {
        font-size: 3em;
    }
}
@media (min-width: 1200px) {}