@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* Default Setting */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
.clear:before, .clear:after {
    content: '';
    clear: both;
    display: block;
}


input, textarea, select, button {
    font: 400 1em 'Roboto';
}

input:focus,
textarea:focus,
button:focus,
a:focus {
outline: none; }

a {
    transition: all 0.2s ease-in-out;
}

/* End Default Setting */
body {
    font-family: 'Roboto', 'Microsoft JhengHei', sans-serif;
    color: #454545;
    background-color: #eee;
    margin: 0;
    font-size: 100%;
}

button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    background-color: transparent;
    font-size: 1em;
}
button:disabled {
    cursor: default;
}

/*------------------------------------------------------------------------*/

.header {
    background-color: #4A90E2;
}
.header > div,
.main > section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.header > div {
    display: flex;
    justify-content:space-around;
    overflow: hidden;
    font-size: 1em;
    text-align: center;
}

.header > div > a {
    padding: .6em .5em;
    color: #00408B;
    text-decoration: none;
    position: relative;
    transition: none;
}
.header > div > a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    display: block;
    height: 3px;
    width: 100%;
    background-color: #00408B;
    transition: all 0.2s ease-in-out;
}

.header > div > a:hover,
.header > div > a.active {
    color: #fff;
}

.header > div > a:hover:before,
.header > div > a.active:before {
    bottom: 0px;
}

.main {
    padding: 1em;
}

.main > section + section {
    margin-top: 1.5em;
}

.main > section .addtodo {
    background: #fff;
    border: 1px solid #00408B;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    font-size: 1em;
    padding: .5em 1em;
    width: 100%;
}
.main > section .addtodo + button {
    border: 1px solid #00408B;
    color: #00408B;
    padding: .4em 1em;
    width: 100%;
    margin-top: 1em;
}
.main > section .addtodo + button:hover {
    background: #fff;
}

.main .todolist {
    background-color: #fff;
    position: relative;
}
.main .todolist:before {
    content: "";
    position: absolute;
    top: 17px;
    left: 6px;
    width: 8px;
    height: 24px;
    background: url(../images/drag.svg);
}
.main .todolist.star {
    background-color: #fff9d2;
}




.main .todolist .top,
.main .todolist .editwp {
    padding: 1em;
}

.main .todolist .top .iconlist {
    float: right;
    margin-top: 1em;
    font-size: 1em;
}
.main .todolist .top .iconlist button {
    color: #00408B;
}
.main .todolist .top .iconlist button:hover {
    color: #4A90E2;
}
.main .todolist .top .iconlist button.starbtn.active {
    color: #d9a800;
}



.main .todolist .top .input {
    width: 100%;
    text-align: right;
}
.main .todolist .top .input .check {
    margin: 0;
    background: none;
    -webkit-appearance: none;
    appearance: none;
}
.main .todolist .top .input .check:after {
    content: "";
    background: #ccc;
    height: 26px;
    width: 26px;
    display: inline-block;
    cursor: pointer;
}
.main .todolist .top .input .check.active:after {
    background: #00408B url(../images/check.svg) center center no-repeat;
    background-size: 80%;
}

.main .todolist .top .input .viewTxt,
.main .todolist .top .input .inputTxt {
    display: inline-block;
    margin-left: 5px;
    width: calc(100% - 40px);
    text-align: left;
    vertical-align: top;
    font-size: 1rem;
    padding: .2em .5em;
    font-weight: 700;
    color: #454545;
}
.main .todolist .top .input .inputTxt {
    border: 1px solid #00408B;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}
.main .todolist .top .input .viewTxt {
    overflow:hidden;
    text-overflow:ellipsis;
}
.main .todolist.done .top .input .viewTxt  {
    color: #aaa;
    text-decoration:line-through;
}


.main .todolist .top .msgbar {
    display:block;
    list-style: none;
    margin: 0;
    padding-left: 3em;
    font-size: .9em;
    color: #666;
}
.main .todolist .top .msgbar > li {
    margin-right: 1em;
    display: inline-block;
}



.main .todolist .editwp {
    background-color: #ccc;
}

.main .todolist .editwp input,
.main .todolist .editwp textarea {
    border: none;
    font-size: 1rem;
    padding: .3em .5em;
    border-radius: .1em;
}

.main .todolist .editwp textarea {
    width: 100%;
}

.main .todolist .editwp > label {
    display: block;
    color: #252525;
    margin-bottom: .5em;
}

.main .todolist .editwp > div + label {
    margin-top: 1.5em;
}


.main .todolist .editwp .timewp {
    display: flex;
    justify-content:space-between;
    max-width: 400px;
}

.main .todolist .editwp .timewp input {
    width: 100%;
    margin-right: .5em;
}

.main .todolist .editwp .uploadedlist > ul {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #666;
    padding-bottom: .5em;
    margin-bottom: .5em;
}
.main .todolist .editwp .uploadedlist > ul:before,
.main .todolist .editwp .uploadedlist > ul:after {
    content: '';
    clear: both;
    display: block;
}
.main .todolist .editwp .uploadedlist > ul > li {
    font-size: .9em;
}
.main .todolist .editwp .uploadedlist > ul > li:nth-child(2) {
    font-size: .8em;
}
.main .todolist .editwp .uploadedlist > ul > li > button {
    float: right;
}
.main .todolist .editwp .uploadedlist > ul > li > button:hover {
    color: #666;
}
.main .todolist .editwp .uploadedlist > ul > li > a {
    color: #00408B;
    text-decoration: none;
}
.main .todolist .editwp .uploadedlist > ul > li > a:hover {
    text-decoration: underline;
}
.main .todolist .editwp .uploadbtn {
    display: inline-block;
    font-size: .9em;
    margin-top: 1em;
}
.main .todolist .editwp .uploadbtn input[type=file] {
    width: 100%;
    display: none;
}
.main .todolist .editwp .uploadbtn input[type=file] + span {
    display: inline-block;
    color: #fff;
    background-color: #454545;
    padding: .2em .4em;
    border-radius: .1em;
    cursor: pointer;
}
.main .todolist .editwp .uploadbtn input[type=file] + span:hover {
    background-color: #00408B;
}



.submitbtn {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #00408B;
    color: #fff;
    padding: .5em 1em;
}
.submitbtn:hover {
    background-color: #4A90E2;
}
.submitbtn:disabled {
    background-color: #454545;
}



.main .title_wrapper {
    text-align: center;
}
.main .title_wrapper h1 {
    display: inline-block;
    font-size: 2em;
    color: #00408B;
}
.main .title_wrapper h1 > span {
    color: #4A90E2;
}


/* .spinner by Tobias Ahlin - http://tobiasahlin.com/spinkit/ */
.spinner {
    display: inline-block;
    margin: 0 auto;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 10px;
    height: 10px;
    background-color: #00408B;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}



@media (min-width: 576px) {
    .main .todolist .top .input {
        float: left;
        width: calc(100% - 100px);
    }
    .main .todolist .top .iconlist {
        margin-top: 0;
    }
    .main .todolist .top .msgbar {
        margin-top: 1em;
    }
    .main > section .addtodo {
        width: calc(100% - 115px);
    }
    .main > section .addtodo + button {
        width: 100px;
        margin-top: 0;
        margin-left: 10px;
    }
}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}